* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
    background-color: #c67000;
    line-height: 1.6;
}

header {
    background: linear-gradient(135deg, #ff6f61, #ffcc00);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

h1 {
    color: #000000;
    font-size: 2.5em;
    margin-bottom: 10px;
}

nav {
    margin-top: 20px;
}

nav ul {
    list-style: none;
    padding: 0;
}

nav ul > li {
    display: inline-block;
    position: relative;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    border-radius: 5px;
}

nav ul li a:hover {
    color: #333;
    transform: scale(1.1);
    background-color: rgba(255, 255, 255, 0.2);
}

.dropdown {
    display: none; /* Başlangıçta gizli */
    position: absolute;
    background: #0b6f07;
    padding: 10px 0;
    border-radius: 5px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    z-index: 1000;
}

nav ul li:hover .dropdown {
    display: block; /* Üzerine gelindiğinde göster */
}

.dropdown li {
    display: block;
}

.dropdown li a {
    color: #333;
    padding: 10px 20px;
    white-space: nowrap;
    transition: background 0.3s;
}

.dropdown li a:hover {
    background: rgba(0, 0, 0, 0.1);
}

main {
    padding: 20px;
    max-width: 900px;
    margin: 20px auto;
}

section {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    transition: transform 0.3s;
}

section:hover {
    transform: translateY(-10px);
}

section h2 {
    color: #039f5e;
    font-size: 1.8em;
    border-bottom: 3px solid #ffcc00;
    padding-bottom: 10px;
    margin-bottom: 15px;
   
   
}

section p {
    color: #555;
    font-size: 1.1em;
    line-height: 1.8;
}

footer {
    text-align: center;
 




}
.container {
    display: flex;
    align-items: center; /* Dikey merkezleme */
}

.resim {
    width: 150px; 
}

.yazi {
    font-size: 1.2em; 
    line-height: 1.5;

}
a{
    background: linear-gradient(135deg, #ff6f61, #ffcc00);
    color: #fff;
    padding: 40px 0;
    text-align: center;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    color: #fff;
    text-decoration: none;
    padding: 15px 20px;
    display: inline-block;
    transition: color 0.3s, transform 0.3s;
    border-radius: 5px;
 
}   

   

    
    

